@page
@model AplicatieLicenta.Pages.Admin.StergereCartiModel

@{
    ViewData["Title"] = "StergereCarti";
    Layout = "~/Pages/Shared/AdminLayout.cshtml";
}

<h1>Stergere carte</h1>

<h3>Esti sigur ca vrei sa stergi aceasta carte?</h3>
<div>
    <h4>Informații carte</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Titlu</dt>
        <dd class="col-sm-10">@Model.Carti.Titlu</dd>

        <dt class="col-sm-2">Autor</dt>
        <dd class="col-sm-10">@Model.Carti.Autor</dd>

        <dt class="col-sm-2">Durată ascultare</dt>
        <dd class="col-sm-10">
            @(Model.Carti.DurataAscultare.HasValue ? Model.Carti.DurataAscultare.ToString() : "-")
        </dd>

        <dt class="col-sm-2">Imagine copertă</dt>
        <dd class="col-sm-10">
            <img src="@Model.Carti.ImagineCoperta" alt="Copertă" class="rounded shadow" style="max-height: 200px;" />
        </dd>

        <dt class="col-sm-2">Data adăugării</dt>
        <dd class="col-sm-10">@Model.Carti.DataAdaugarii?.ToString("dd/MM/yyyy HH:mm")</dd>

        <dt class="col-sm-2">Fișier</dt>
        <dd class="col-sm-10">
            <a href="@Model.Carti.UrlFisier" target="_blank" class="custom-link">Deschide fișier</a>
        </dd>

        <dt class="col-sm-2">Tip carte</dt>
        <dd class="col-sm-10">@Model.Carti.TipCarte</dd>

        <dt class="col-sm-2">Categorie vârstă</dt>
        <dd class="col-sm-10">
            @string.Join(", ", Model.Carti.CategoriiVarsta.Select(c => c.Denumire))
        </dd>

        <dt class="col-sm-2">Genuri</dt>
        <dd class="col-sm-10">
            @string.Join(", ", Model.Carti.Genuri.Select(g => g.Denumire))
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Carti.IdCarte" />
        <input type="submit" value="Ștergere" class="btn btn-danger" />
        <a asp-page="/Admin/VizualizareCartiPdf" class="custom-link">Renunță la ștergere</a>
    </form>
</div>

<style>
    h1 {
        color: #C8AD7F;
        font-weight: bold;
    }

    h3 {
        margin-bottom: 20px;
    }

    dt {
        font-weight: 600;
        color: #444;
        margin-top: 8px;
    }

    dd {
        font-weight: bold;
        margin-bottom: 15px;
    }

    .btn {
        margin-top: 10px;
        background-color: #C8AD7F;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
    }

    .btn:hover {
        background-color: #A88F5D;
    }

    .custom-link {
        color: #C8AD7F;
        font-weight: bold;
        text-decoration: none;
        display: inline-block;
        margin-top: 15px;
        margin-left: 20px;
    }

    .custom-link:hover {
        color: #A88F5D;
    }
</style>
